body {
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}

.centerObj {
    margin: 0 auto;
}

#secHeader{
    width: 100%;
    background:lightblue;
    position: relative;
    padding: 5px;
}

#contactInfo{
    float:left;
}

#divPic {
    position:relative;
}

#profilePic {
    height:320px;
    height:320px;
    float:right;
}

#secBody {
    
    display:block;
    clear:both;
}

.mt20{
    margin: 20px 0 0 0;
}