body {
    font-family: Arial, Helvetica, sans-serif;
}

.centerObj {
    margin: 0 auto;
}

#secHeader{
    width: 80%;
    background:lightblue;
    position: relative;
    padding: 5px;
}

#contactInfo{
}

#profilePic {
    height:320px;
    height:320px;
    float:right;
    display:inline;
}